.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  background-color: #090979;
  border-bottom: 1px solid #090979;
  transition: all .5s ease;

  color: white;
  height: var(--headerHeight);

  &-buttons {
    position: absolute;
    right: 12px; 
    display: flex;
    align-items: center;
  }

  &-nightmode {
    &-button {
      border: none;
      background-color: transparent;
      cursor: pointer;
      padding: 1px 4px 0 5px;

      svg {
        fill: transparent;
        width: 18px;
        height: 18px;

        path {
          stroke: white;
        }
      }
    }
  }

  &-hamburger {

    &-button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      padding: 1px 5px 0 4px;
      height: 24px;


      svg {
        fill: white;
      }
    }
  }

  &-initials {
    display: flex;
    gap: 1px;
    font-weight: 800;
    font-size: 2.6rem;
  }

  &[data-past-intro="true"] {
    background-color: var(--site-bg);
    color: var(--color-two);
    border-bottom: 1px solid #d0d9db;

    .header {
      &-hamburger-button svg {
        fill: var(--color-two);
      }

      &-nightmode-button svg {
        path {
          stroke: var(--color-two);
        }
      }
    }
  }
}