.header {
  --color-accent: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  background-color: var(--color-header);
  border-bottom: 1px solid var(--color-header-border);
  transition: all .5s ease;
  box-sizing: border-box;

  color: var(--color-accent);
  height: var(--headerHeight);

  &-buttons {
    position: absolute;
    right: var(--gutter); 
    display: flex;
    align-items: center;
    animation: fadeIn var(--anim-fade-time) var(--anim-fade-delay) forwards;
    opacity: 0;
  }

  &-theme {
    &-button {
      border: none;
      background-color: transparent;
      cursor: pointer;
      padding: 1px 4px 0 5px;

      svg {
        fill: transparent;
        width: 18px;
        height: 18px;

        path {
          stroke: var(--color-accent);
        }
      }
    }
  }

  &-menu {
    &-button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      padding: 1px 0 0 4px;
      height: 24px;

      svg {
        fill: var(--color-accent);
      }
    }
  }

  &-name {
    font-weight: 800;
    font-size: var(--header-name-01);
    opacity: 0;
    transition: opacity 0.5s ease;
    pointer-events: none;

    &-initials {
      display: flex;
      gap: 1px;
    }

    &-full {
      display: none;
    }
  }

  &[data-past-intro="true"] {
    --color-accent: var(--color-two);
    --color-header-border: var(--color-border);
    background-color: var(--site-bg);

    .header-name {
      opacity: 1;
    }
  }

  [data-dark-mode="true"] & {
    &-theme-button svg path {
      fill: var(--color-accent);
    }

    &[data-past-intro="true"] {
      border-color: black;
      --color-accent: var(--color-four);
    }
  }

  @media only screen and (min-width: 800px) {
    justify-content: flex-start;

    &-menu-button {
      padding-left: 5px;
      
      svg {
        width: 28px;
        height: 28px;
      }
    }

    &-theme-button svg {
      width: 20px;
      height: 20px;
    }

    &-name {
      margin-left: var(--gutter);

      &-initials {
        display: none;
      }
      
      &-full {
        display: block;
      }
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0
    }
    to {
      opacity: 1;
    }
  }
}