.footer {
  --triangle-size: 50px;
  // background-color: var(--color-two);
  // background: linear-gradient(180deg, rgba(11,91,177,1) 37%, rgba(10,105,209,1) 85%);
  background: linear-gradient(180deg, rgba(9,9,121,1) 37%, rgba(6,84,170,1) 89%);

  color: white;
  position: relative;
  margin-left: -24px;
  padding: 24px;
  padding-top: calc(var(--triangle-size) + 24px);
  width: 100%;
  // margin-top: 48px;
  margin-top: 96px;

  &-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 1.6rem;
  }

  &-triangle {
    width: 100%;
    height: var(--triangle-size);
    position: absolute;
    background-color: var(--site-bg);
    top: 0;
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    transform: rotate(180deg);
    margin-left: -24px;
  }

  &-tagline {
    font-size: 2.2rem;
    font-weight: 400;
  }

  &-items {
    display: flex;
    gap: 8px;
  }

  &-kitty {
    margin-left: auto;
    margin-right: auto;

    &-icon {
      width: 24px;
      fill: white;
    }
  }

  &-copyright {
    font-size: 1.2rem;
  }
}