.footer {
  --triangle-size: 50px;
  background: linear-gradient(180deg, rgba(9,9,121,1) 37%, rgba(6,84,170,1) 89%);
  color: white;
  position: relative;
  margin-left: calc(-1 * var(--gutter));
  padding: calc(var(--triangle-size) + 32px) var(--gutter) 32px var(--gutter);
  width: 100%;
  margin-top: 96px;

  &-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: var(--body-01);
  }

  &-triangle {
    width: 100%;
    height: var(--triangle-size);
    position: absolute;
    background-color: var(--site-bg);
    transition: background .5s ease;
    top: 0;
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 97%);
    transform: rotate(180deg);
    margin-left: calc(-1 * var(--gutter));
  }

  &-tagline {
    font-size: var(--tagline-01);
    font-weight: 400;
  }

  &-items {
    display: flex;
    gap: 8px;
  }

  &-kitty {
    margin-left: auto;
    margin-right: auto;

    &-icon {
      width: 24px;
      fill: white;
    }
  }

  &-copyright {
    font-size: var(--copyright-01);
    text-align: center;
  }

  @media only screen and (min-width: 800px) {
    padding-top: calc(var(--triangle-size) + 48px);
  }
}