.carousel {
  --button-size: 30px;
  --dot-size: 7px;
  --button-margin: calc((var(--button-size) + 12px) * -1);
  width: 100%;
  margin: 0 auto calc(var(--button-margin) * -1) auto;
  box-shadow: 0px 10px 20px 5px rgba(59, 47, 48, .08);
  
  img {
    width: 100%;
    height: auto;
    opacity: 0;
    transition: opacity .8s ease;

    &.is-selected {
      opacity: 1 !important;
    }
  }

  .flickity-prev-next-button {
    top: unset;
    transform: none;
    width: var(--button-size);
    height: var(--button-size);
    bottom: var(--button-margin);
    z-index: 2;
    background-color: var(--color-accent);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all var(--button-timing) ease;

    &:hover {
      --color-accent: var(--color-one);
    }

    &:active {
      opacity: unset;
    }
  
    svg {
      fill: white;
      top: unset;
      left: unset;
      width: 50%;
      height: 50%;
    }

    &.previous {
      right: calc(var(--button-size) + 5px);
      left: unset;
    }
  
    &.next {
      right: 0;
    }
  }

  .flickity-page-dots {
    height: var(--button-size);
    bottom: var(--button-margin);
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;

    .dot {
      width: var(--dot-size);
      height: var(--dot-size);
      margin: 0 3px;
      opacity: 1;
      background-color: rgb(197, 197, 197);

      &.is-selected {
        background-color: rgb(19, 19, 19);
      }
    }
  }

  [data-dark-mode="true"] & {
    --color-accent: var(--color-three);

    .flickity-prev-next-button:hover {
      --color-accent: var(--color-four);
    }

    .flickity-page-dots {
      .dot {
        background-color: white;

        &.is-selected {
          background-color: rgb(139, 139, 139);
        }
      }
    }
  }

  @media only screen and (min-width: 800px) {
    --button-size: 36px;
    --dot-size: 8px;

    .flickity-prev-next-button {
      &.previous {
        right: calc(var(--button-size) + 6px);
      }
    }
  }
}