<div class="about section" id="about">
  <h1>About Me</h1>
  <div class="about-content">
    <div class="about-image">
      <img src="/images/headshot.jpg"/>
    </div>
    <p class="about-body">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
      Proin posuere blandit erat vel dignissim. Orci varius natoque 
      penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
      Etiam feugiat hendrerit fermentum. Sed porta risus massa, vel molestie odio fringilla et. 
      Donec eget ante est. Morbi porta imperdiet orci at gravida. Duis sed lacinia nulla, 
      a faucibus risus. Sed a magna non justo egestas ultrices.</p>
  </div>
</div>