<div class="about section" id="about">
  <h1>About Me</h1>
  <div class="about-content">
    <p class="about-body">
      Hey there! I'm a passionate Software Engineer based out of Virginia that specializes in front-end development. 
      I graduated from Virginia Commonwealth University in 2022, which is where I discovered my 
      love for website development. Since then, I have created websites for personal businesses, 
      individuals, and contributed to a multitude of websites for Johnson & Johnson. I have a strong 
      focus on the user experience, accessibility, animations, and micro interactions. I'm excited to 
      explore new opportunities to challenge me and further enhance my skills!</p>
  </div>
</div>