<div #intro class="intro section" (scroll)="onScroll()">
  <div class="intro-wrapper">
    <div class="intro-blurb">
      <div class="intro-blurb-left">
        <div class="intro-blurb-welcome">
          <span>Hello! I'm</span>
        </div>
        <div class="intro-blurb-name">
          <span class="first">Jesus</span>
          <span class="last">Ayala</span>
        </div>
      </div>
      <div class="intro-blurb-right">
        <span class="intro-blurb-text">I'm a Software Engineer that's passionate about perfecting every detail of the web experience.</span>
      </div>
    </div>
    <div class="intro-wrapper-triangle"></div>
  </div>
</div>