.intro {
  padding-top: 0;
  
  &-blurb {
    font-size: var(--intro-body-01);
    line-height: 1.3;
    color: white;
    position: relative;
    animation: scrollIn var(--anim-scroll-time) var(--anim-scroll-delay) forwards, fadeIn var(--anim-fade-time) var(--anim-fade-delay) forwards;
    opacity: 0.01;

    &-name {
      display: flex;
      flex-direction: column;
      font-weight: 800;
      font-size: var(--intro-name-01);
      line-height: 1.05;
      padding: 24px 0;
    }
  }

  &-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 24px;
    left: calc(var(--gutter) * -1);
    padding: 0 var(--gutter);
    height: 94vh;
    min-height: 500px;
    position: relative;
    background: linear-gradient(180deg, rgba(9,9,121,1) 37%, rgba(6,84,170,1) 89%);
    width: 100%;
    overflow-x: hidden;

    &-triangle {
      background: var(--site-bg);
      transition: background .5s ease;
      position: absolute;
      left: auto;
      right: 0;
      clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 97%);
      height: 50px;
      width: 100%;
      bottom: 0;
    }

    &:after {
      content: '';
      width: 100%;
      height: 1px;
      position: absolute;
      bottom: 0;
      background-color: var(--site-bg);
      transition: background .5s ease;
    }
  }

  @media only screen and (min-width: 800px) {
    &-blurb {
      &-name {
        flex-direction: row;
        gap: 22px;
        padding-bottom: 52px;
      }
    }
  }

  @keyframes scrollIn {
    from {
      left: calc((100% + var(--gutter)) * -1);
    }
    to {
      left: 0;
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0.01;
    }
    to {
      opacity: 1;
    }
  }
}