<div #intro class="intro section" (scroll)="onScroll()">
  <div class="intro-wrapper">
    <div class="intro-blurb">
      <div class="intro-blurb-left">
        <div class="intro-blurb-welcome">
          <p>Hello! I'm</p>
        </div>
        <div class="intro-blurb-name">
          <p class="first">Jesus</p>
          <p class="last">Ayala</p>
        </div>
      </div>
      <div class="intro-blurb-right">
        <p class="intro-blurb-text">I'm a Software Engineer that's passionate about perfecting every detail of the web experience.</p>
      </div>
    </div>
    <div class="intro-wrapper-triangle"></div>
  </div>
</div>