.menu {
  --menu-size: max(40vw, 250px);
  position: fixed;
  width: var(--menu-size);
  height: calc(100vh - var(--headerHeight));
  background-color: var(--color-header);
  right: calc(var(--menu-size) * -1);
  top: var(--headerHeight);
  transition: all .5s ease;
  border-left: 1px solid var(--color-header-border);
  box-sizing: border-box;

  &-items {
    display: flex;
    flex-direction: column;
    padding: 32px;
    font-size: var(--header-menu-01);

    &-item {
      font-weight: 400;
      text-decoration: none;
      color: var(--color-accent);
      transition: all var(--button-timing) ease;
      padding-bottom: 16px;
      margin-bottom: 16px;
      border-bottom: 1px solid var(--color-accent);

      &:last-child {
        border-bottom: none;
      }

      &:hover {
        color: var(--color-one);
      }
    }
  }

  &[data-menu-opened="true"] {
    right: 0;
  }

  [data-past-intro="true"] & {
    background-color: var(--site-bg);
  }

  [data-past-intro="false"] & {
    &-items-item:hover {
      color: white !important;
    }
  }

  [data-dark-mode="true"] & {
    &-items-item {
      color: white;
      border-color: white;

      &:hover {
        color: var(--color-four);
      }
    }
  }

  [data-dark-mode="true"] [data-past-intro="true"] & {
    --color-header-border: #000000;
  }

  @media only screen and (min-width: 800px) {
    // --menu-size: min(40vw, 350px);
    display: block;
    position: relative;
    background-color: transparent !important;
    height: unset;
    right: unset;
    top: unset;

    &-items {
      flex-direction: row;
      padding: 0;
      padding-right: 32px;
      justify-content: flex-end;
      gap: 32px;

      &-item {
        padding: 0;
        margin: 0;
        border: none;
      }
    }
  }
}