.work {
  display: flex;
  flex-direction: column;

  &-items {
    display: flex;
    flex-direction: column;
    gap: 128px;
  }

  &-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: var(--body-01);
  }

  &-year {
    margin-top: 16px;
  }

  &-description {
    margin-top: 16px;
  }

  &-carousel {
    margin-top: 24px;
  }

  &-name {
    font-weight: 500;
  }

  &-link {
    margin-top: 24px;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    border: 1.5px solid var(--color-accent);
    color: var(--color-accent);
    padding: 8px 12px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    transition: all var(--button-timing) ease;

    svg {
      width: 14px;
      fill: var(--color-accent);
      transition: all var(--button-timing) ease;
    }

    &:hover {
      background-color: var(--color-one);
      border-color: var(--color-one);
      color: white;

      svg {
        fill: white;
      }
    }
  }

  [data-dark-mode="true"] & {
    --color-accent: var(--color-three);

    &-link:hover {
      background-color: var(--color-four);
      border-color: var(--color-four);
    }
  }

  @media only screen and (min-width: 800px) {
    flex-direction: row;
    gap: 32px;

    &:nth-child(even) {
      flex-direction: row-reverse;
    }

    &-items {
      gap: 160px;
    }

    &-carousel {
      min-width: 45%;
      margin-top: 4px;
    }

    &-content {
      text-align: left;
    }

    &-link {
      padding: 10px 14px;
      margin-left: 0;
    }
  }
}