.skills {
  &-items {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

    &-item {
      font-size: 1.6rem;
      background-color: var(--color-accent);
      color: white;
      padding: 8px 12px;
      border-radius: 4px;
      font-weight: 400;
      pointer-events: none;
    }
  }

  &-wrapper {
    &.misc {
      margin-top: 12px;
    }
  }

  [data-dark-mode="true"] & {
    --color-accent: var(--color-three);
  }

  @media only screen and (min-width: 800px) {
    &-items {
      gap: 12px;

      &-item {
        font-size: 2rem;
        padding: 9px 16px;
      }
    }

    &-wrapper {
      &.misc {
        margin-top: 24px;
      }
    }
  }
}