.app {
  background-color: var(--site-bg);
  transition: background .5s ease;

  &-content {
    margin: 0 var(--gutter);
  }

  &[data-dark-mode="true"] {
    --site-bg: var(--site-bg-dark);
    color: white; 
  }
}
