:root {
  --color-one: #084a93;
  --color-two: #0b5bb1;
  --color-three: #0a69d1;
  --color-four: #0e76e5;
  --color-five: #090979;
  --color-border: #d0d9db;
  --site-bg: #f4fdff;
  --site-bg-dark: #161a25;

  --color-accent: var(--color-two);
  --color-header: var(--color-five);
  --color-header-border: var(--color-five);

  --gutter: 24px;
  --headerHeight: 64px;

  --button-timing: .15s;

  --anim-fade-time: 1.2s;
  --anim-fade-delay: .7s;
  --anim-scroll-time: 1s;
  --anim-scroll-delay: .4s;

  --heading-01: 2.8rem;
  --heading-02: 2.2rem;
  --heading-03: 2.2rem;
  --body-01: 1.8rem;
  --skills-01: 2.0rem;
  --tagline-01: 2.2rem;
  --header-name-01: 2.8rem;
  --header-menu-01: 1.8rem;
  --copyright-01: 1.2rem;
  --intro-body-01: 2.2rem;
  --intro-name-01: 8.0rem;

  @media only screen and (min-width: 800px) {
    --gutter: 48px;
    --headerHeight: 72px;

    --anim-fade-time: 3s;
    --anim-fade-delay: .5s;
    --anim-scroll-time: 1.5s;
    --anim-scroll-delay: .3s; // TO-DO: on prod lower this delay only on desktop

    --heading-01: 3.8rem;
    --heading-02: 2.8rem;
    --heading-03: 2.8rem;
    --body-01: 2.0rem;
    --skills-01: 2.2rem;
    --header-name-01: 2.6rem;
    --header-menu-01: 1.8rem;
    --intro-body-01: 2.4rem;
    --intro-name-01: 11.0rem;
  }
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  margin: 0;
}

h1 {
  margin: 0 0 24px 0;
  font-weight: 400;
  font-size: var(--heading-01);
  text-align: center;
}

h2 {
  margin: 0 0 18px 0;
  font-size: var(--heading-02);
  font-weight: 400;
}

h3 {
  font-size: var(--heading-03);
  margin: 0;
}

p {
  margin: 0;
}

.section {
  padding-top: 128px;
  scroll-margin-top: calc(var(--headerHeight) - 100px);
}

@media only screen and (min-width: 800px) {
  h1 {
    text-align: left;
  }

  .section {
    padding-top: 160px;
    scroll-margin-top: calc(var(--headerHeight) - 128px);

  }
}